/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

/* File has been modified by lovac42 for ccbc project */


#header {
    padding: 0px;
    font-weight: bold;
    border-bottom: 2px solid #aaa;
    height: 140%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
}

.tdcenter {
    white-space: nowrap;
}

body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    overflow: hidden;
}

a {
    margin-right: 4px;
}

.hitem {
    padding-right: 2px;
    padding-left: 3px;
    text-decoration: none;
    color: black;
    overflow: hidden;
    white-space: nowrap;
}

.hitem:hover {
    color: maroon;
}

.hitem:focus { outline: 0; }

