/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

.smallLink {
    font-size: 10px;
}

h3 {
    margin-bottom: 0;
}

.descfont {
    padding: 1em;
    color: #333;
}

.description {
    white-space: pre-wrap;
}

#fulldesc {
    display: none;
}

.descmid {
    width: 70%;
    margin: 0 auto 0;
    text-align: left;
}

.dyn {
    text-align: center;
}

button{
    border: solid 2px rgba(0, 0, 0, 0.05);
    border-radius: 500px;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    background-color: #52BE80;
    color: #EAECEE;
    font-weight: bold;
    font-size: 14px;
}


/* scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
