/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

::selection{
    background-color: #b3d4fc;
    color:#000;
    text-shadow:none
}

hr {
    background-color: #ccc;
    margin: 1em;
}

body {
    margin: 20px;
    overflow-wrap: break-word;
}

img {
    max-width: 95%;
    max-height: 95%;
}

#_flag {
    position: fixed;
    right: 10px;
    top: 0;
    font-size: 1.2em;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#_mark {
    position: fixed;
    left: 10px;
    top: 5px;
    font-size: 1.2em;
    color: yellow;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#typeans {
    width: 100%;
}

.typeGood {
    background: #0f0;
}

.typeBad {
    background: #f00;
}

.typeMissed {
    background: #ccc;
}


/* Replay_buttons_on_card */
.replaybutton span {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}
.replaybutton span svg {
  stroke: none;
  fill: black;
  display: inline;
  height: 1em;
  width: 1em;
  min-width: 12px;
  min-height: 12px;
}


/* scrollbar */
::-webkit-scrollbar {
    max-width: 6px;
    width: 6px;
    height: 4px;
    max-height: 4px;
    zoom: reset;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

img.rev-hidden {
    display: none;
}
