/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

/* File has been modified by lovac42 for ccbc project */

#header {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    border-top: 1px solid #aaa;
    border-bottom: 0;
    margin-bottom: 6px;
    margin-top: 0;
    padding: 2px;
}
